{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'login.css' %}">
<div class="login-background">
    <div class="content text-center ">
        <p style="font-size: 100px;color: white;">FLIPCHART</p>
       <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div>
            {{ form.username.errors }}
            <label for="{{ form.username.id_for_label }}">Account:</label>
            {{ form.username }}
        </div>
        <p></p >
        <div>
            {{ form.password.errors }}
            <label for="{{ form.password.id_for_label }}">Password:</label>
            {{ form.password }}
        </div>
        <p></p >
        <button type="submit" class="styled-button">Login</button>
        &emsp;&emsp;&emsp;
        <a href="{% url 'signup' %}">Sign Up</a>
    </form>
    </div>
</div>
