li a {
    color: green;
}

body {
    padding-top: 20px;
    /*background: white ;*/
    background-image: url("images/classic.jpg");
}

/* Float four columns side by side */
.column {
    float: left;
    width: 95%;
    padding: 0 10px;

  }

  /* Remove extra left and right margins, due to padding */
  .row {
    margin: 0 -5px;
    width: 100%;
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }

  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 600px;
    text-align: center;
    background-color: #f1f1f1;
  }

  .text-center {
    text-align: center;
    font-size: 1.1em;
}

  .pull-right {
  text-align: right;
  float: right;
}
.pull-left {
  text-align: left;
  float: left;
}

input, textarea {
  font-size: 1em;
  padding: 5px!important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(169,169,169)
}
input, select, option,label {
  height: 30px;
  font-size: 1.1em;
}

/* styled-textarea */
.styled-textarea {
  background-color: rgba(228, 244, 248, 0.582);
  font-size: 0.9em;
  width: 95%;
  min-width: 300px;
}
.results{
  margin-left: 80vh;
  margin-top: 20vh;
  background-color: pink;
  font-weight:bold;
  font-family:Arial;
}

.detail{
  margin-left: 80vh;
  margin-top: 20vh;
  background-color: pink;
  font-weight:bold;
  font-family:Arial;
}

.user-header-bg{
    height: 120px;
    width: 270px;
    margin-left: 20px;
    background-image: url("images/user.gif");
    background-repeat: no-repeat;
    background-position-x: -5px;
    background-position-y: -12px;
}
.user-header{
    padding-left: 35px;
    padding-top: 30px;
    text-align: left;
    font-weight: bold;
}